*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

/* SCROLLBAR */
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #e3e3e3;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2) inset;
}

::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 8px;
    border: 2px solid #e3e3e3;
}

::-webkit-scrollbar-thumb:hover {
    background: #6c6c6c;
}

/* CONTAINER */
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER */
.header {
    height: 60px;
    position: fixed;
    width: 100%;
    /* top: 0; */
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid #aaa;
}

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    padding: 10px;
}

.nav {
    display: flex;
    text-transform: uppercase;
    font-size: 12px;
}

.nav_link {
    padding: 10px;
    color: #aaa;
}

.nav_link.active {
    color: #fff;
    background-color: #aaa;
    border-radius: 5px;
}

.nav_link:hover {
    text-decoration: underline;
}

/* SOCIAL */
.social_icons {
    display: flex;
}

.social_icon {
    color: #aaa;
    text-decoration: none;
    padding: 0 5px;
    border-right: 1px solid #aaa;
}

.social_icon:last-child {
    border-right: none;
}

.nav_burger_icon,
.nav_burger {
    display: none;
}

/* INTRO */
.intro {
    background: url(../images/intro/intro_bg.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
    color: #fff;
    text-align: center;
}

.intro_wrap {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.intro_inner {
    width: 100%;
}

.intro_slider {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}

.intro_inner_content {
    margin: 0 20px;
}

.slider_suptitle {
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.slider_line {
    width: 100%;
}

.slider_title {
    font-size: 80px;
    margin: 15px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.button_container {
    width: 20%;
    position: relative;
    margin: 0 auto;
}

.button {
    font-size: 15px;
    width: 100%;
    height: 45px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    transition: 0.2s linear;
    font-weight: 700;
}

.button:hover {
    background-color: #fff;
    color: #000000;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 1px;
}

.button_arrow {
    position: absolute;
    top: 83%;
    left: 45%;
}

/* ABOUT */
.about {
    padding: 70px 0;
    background-color: #e3e3e3;
}

.about_inner {
    background-color: #fff;
}

.about_img {
    display: block;
    width: 100%;
}

.about_inner_content {
    width: 95%;
    margin: 0 auto;
    padding: 50px 0;
}

.titles {
    text-align: center;
}

.title_title {
    font-size: 24px;
    text-transform: uppercase;
    color: #3e3d3d;
}

.title_line {
    margin: 30px 0;
}

.about_text {
    font-family: 'Crimson Text', serif;
    font-size: 14px;
    width: 100%;
    letter-spacing: 2px;
    line-height: 1.5;
    text-align: left;
    margin-bottom: 50px;
}

.buttons {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.buttons > a {
    width: 49%;
}

.button_black {
    border: 2px solid #3e3d3d;
    color: #000;
}

.button_black:hover {
    background-color: #3e3d3d;
    color: #fff;
    cursor: pointer;
}

.about_achieves {
    display: flex;
    margin-top: 40px;
}

.about_achieves_item {
    border-right: 1px solid #b0b0b0;
    width: 25%;
    font-weight: 700;
    text-align: center;
    color: #3e3d3d;
}

.about_achieves_item:last-child {
    border-right: none;
}

.about_achieves_logo {
    width: 37px;
    height: 38px;
}

.about_achieves_title {
    font-size: 14px;
    margin: 23px 0;
}

.about_achieves_count {
    font-size: 30px;
}

/* SERVICES */
.title_text {
    font-family: 'Crimson Text', serif;
    letter-spacing: 2px;
    line-height: 1.5;
    margin-bottom: 60px;
    color: #d8d8d8;
}

.white {
    color: #fff;
}

.services {
    background: url(../images/services/background.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 80px 0;
    color: #fff;
}

.services_achieves {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services_item {
    width: 24%;
    border: 2px solid #898989;
    padding: 25px 0;
}

.services_title {
    margin: 33px 0;
}

.services_text {
    width: 95%;
    margin: 0 auto;
    color: #d8d8d8;
    font-family: 'Crimson Text', serif;
    letter-spacing: 2px;
    font-size: 14px;
}

/* HISTORY */
.history {
    background-color: #ededed;
    padding: 80px 0;
}

.black {
    color: #3e3d3d;
}

.history_inner {
    background: url(../images/history/background.png) no-repeat;
    min-height: 1177px;
    width: 100%;
    position: relative;
}

.history_inner_item {
    position: absolute;
    width: 50%;
    color: #3e3d3d;
    padding: 0 30px;
}

.history_inner_item:nth-child(1) {
    top: 135px;
}

.history_inner_item:nth-child(2) {
    top: 175px;
    left: 620px;
}

.history_inner_item:nth-child(3) {
    top: 380px;
}

.history_inner_item:nth-child(4) {
    color: #fff;
    top: 420px;
    left: 620px;
}

.history_inner_item:nth-child(5) {
    top: 860px;
}

.history_inner_item:nth-child(6) {
    top: 900px;
    left: 620px;
}

.history_item_name,
.history_item_date {
    font-weight: 700;
    letter-spacing: 1px;
}

.history_item_name {
    font-size: 14px;
}

.history_item_date {
    font-size: 11px;
    margin: 10px 0 25px 0;
}

.history_item_text {
    font-family: 'Crimson Text', serif;
    width: 100%;
    font-size: 14px;
    letter-spacing: 1px;
}

/* TEAM */
.team {
    background-color: #e3e3e3;
    padding: 80px 0;
}

.team_inner {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
}

.team_item {
    width: 31%;
    position: relative;
}

.team_item_img {
    display: block;
    width: 100%;
}

.team_info {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 95%;
    height: 95%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: 0.5s;
}

.team_item:hover .team_info {
    opacity: 1;
    backdrop-filter: blur(8px);
}

.team_info_inner {
    position: absolute;
    padding-right: 10%;
    bottom: 10%;
    left: 10%;
}

.team_info_text {
    font-size: 14px;
    border-bottom: 2px solid #3e3d3d;
    margin-bottom: 8px;
}

.team_info_name {
    font-weight: 700;
    letter-spacing: 1px;
}

.team_info_profession {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    margin: 8px 0;
}

.social_black {
    color: #3e3d3d;
    border-right: 1px solid #3e3d3d;
}

/* PORTFOLIO */
.portfolio {
    padding-top: 80px;
}

.portfolio_inner {
    margin-bottom: 30px;
}

.buttons.portfolio_buttons {
    width: 50%;
}

.buttons.portfolio_buttons > a {
    width: 24%;
}

.button_active {
    background-color: #3e3d3d;
    color: #fff;
}

.portfolio_works {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.portfolio_works_col {
    width: 25%;
}

.portfolio_works_image {
    display: block;
    width: 100%;
}

.portfolio_works_col:nth-child(1) .portfolio_works_image:nth-child(1) {
    height: 60%;
}

.portfolio_works_col:nth-child(1) .portfolio_works_image:nth-child(2) {
    height: 40%;
}

.portfolio_works_col:nth-child(2) .portfolio_works_image:nth-child(1) {
    height: 40%;
}

.portfolio_works_col:nth-child(2) .portfolio_works_image:nth-child(2) {
    height: 60%;
}

.portfolio_works_col:nth-child(3) .portfolio_works_image:nth-child(1) {
    height: 30%;
}

.portfolio_works_col:nth-child(3) .portfolio_works_image:nth-child(2) {
    height: 70%;
}

.portfolio_works_col:nth-child(4) .portfolio_works_image:nth-child(1) {
    height: 70%;
}

.portfolio_works_col:nth-child(4) .portfolio_works_image:nth-child(2) {
    height: 30%;
}

/* PRICES */
.prices {
    background-color: #e3e3e3;
    padding: 80px 0;
}

.prices_inner {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.prices_item {
    width: 32%;
    background-color: #fff;
    padding: 50px 0;
    transition: 0.5s;
}

.prices_item:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px #3e3d3d;
}

.prices_item_name {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #3e3d3d;
}

.prices_item_img {
    width: 70%;
    margin: 30px 0;
}

.prices_item_cost {
    font-weight: 700;
    font-size: 60px;
}

.dollar {
    vertical-align: 30px;
    font-size: 25px;
}

.prices_item_text {
    margin: 50px 0;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}

.prices_item_text > p {
    margin-bottom: 10px;
}

.prices_item_text > p:last-child {
    margin-bottom: 0;
}

.prices_item > a > button {
    width: 50%;
}

/* VSTAVKA */
.vstavka {
    padding: 40px 0;
    background-color: #3e3d3d;
    /* background-color: #2d2d2f; */
}

.vstavka_inner {
    display: flex;
    width: 85%;
    justify-content: space-between;
    align-items: center;
}

.vstavka_inner_text {
    margin: 0 50px;
    font-size: 16px;
}

.vstavka_text_title {
    color: #d8d8d8;
    margin-bottom: 25px;
}

.vstavka_text_description {
    font-family: 'Crimson Text', serif;
    color: #888888;
}

.vstavka_inner > a {
    width: 200px;
}

/* BLOG */
.blog {
    background-color: #e3e3e3;
    padding-top: 80px;
}

.blog_inner {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.blog_inner_item {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.blog_item_img {
    width: 100%;
    max-height: 50%;
}

.blog_item_info {
    width: 100%;
    min-height: 50%;
    color: #cbcbcb;
    background-color: #2d2d2f;
    padding: 50px 0;
}

.blog_info_text {
    width: 90%;
    margin: 0 auto;
}

.blog_info_date {
    font-family: 'Crimson Text', serif;
    font-style: italic;
    font-size: 13px;
    border-bottom: 1px solid #454545;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

.blog_triangle {
    margin-bottom: 2px;
}

.blog_info_name {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.blog_info_description {
    font-family: 'Crimson Text', serif;
    color: #8d8d8d;
    font-size: 15px;
    letter-spacing: 2px;
}

/* CLIENTS */
.clients {
    /* height: 525px; */
    padding: 80px 0;
}

.clients_inner {
    display: flex;
    justify-content: space-between;
}

.clients_inner_item {
    width: 11%;
}

/* CITE */
.cite {
    /* height: 520px; */
    background: url(../images/cite/background.jpg) center no-repeat;
    background-size: cover;
    text-align: center;
    padding: 80px 0;
}

.cite_inner {
    color: #efefef;
    width: 70%;
    margin: 0 auto;
}

.cite_avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.cite_left_symbol {
    vertical-align: 5px;
}

.cite_text {
    font-family: 'Crimson Text', serif;
    margin: 50px 0;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
}

.cite_right_symbol {
    vertical-align: -15px;
}

.cite_author {
    letter-spacing: 2px;
}

.cite_author_profession {
    margin-top: 18px;
    margin-bottom: 45px;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}

.cite_sliders {
    display: flex;
    justify-content: center;
}

.cite_sliders_item {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: #c5c5c5;
    margin: 0 2px;
}

.slider_active {
    background-color: #e3e3e3;
}

/* MAP */
.map {
    height: 512px;
    background: url(../images/map/background.png) center no-repeat;
    position: relative;
}

.map_logo {
    position: absolute;
    top: 36%;
    left: 49%;
}

/* FOOTER */
.footer {
    background: url(../images/footer/background.jpg) center no-repeat;
    background-size: cover;
    padding: 50px 0;
}

.footer_logo {
    margin-bottom: 40px;
}

.footer_inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid #3e3e3e;
}

.footer_inner_left {
    width: 30%;
}

.footer_left_text,
.footer_left_address {
    color: #7f7f7f;
    font-family: 'Crimson Text', serif;
    letter-spacing: 2px;
}

.footer_left_name,
.footer_left_email {
    color: #e3e3e3;
    letter-spacing: 1px;
    margin: 30px 0;
}

.footer_left_email {
    line-height: 1.5;
}

.footer_inner_right {
    width: 65%;
    min-height: 330px;
    max-height: 330px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_right_input {
    letter-spacing: 1px;
    width: 49%;
    height: 45px;
    background-color: transparent;
    color: #e3e3e3;
    font-size: 15px;
    border: 1px solid #464646;
    padding: 0 22px;
    outline: none;
    transition: 0.3s;
}

.footer_right_input:focus {
    box-shadow: 0 0 3px 1px;
}

.footer_right_input::placeholder {
    color: #7f7f7f;
    font-family: 'Crimson Text', serif;
    font-style: italic;
}

.input_message {
    width: 100%;
    height: 135px;
    resize: none;
    padding: 20px;
}

.button_grey {
    background: #464646;
    color: #e3e3e3;
    transition: 0.2s linear;
    border: none;
    min-height: 45px;
    height: auto;
}

.grey:hover {
    background-color: #e3e3e3;
    color: #000;
    cursor: pointer;
}

.footer_end {
    margin-top: 40px;
    color: #7f7f7f;
    font-family: 'Crimson Text', serif;
    letter-spacing: 2px;
    font-style: italic;
    font-size: 14px;
}

@media (max-width: 1024px) {
    /* HEADER */
    .nav_burger_icon {
        display: block;
        padding: 10px;
    }

    .icon_line {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #aaa;
        transition: 0.3s;
    }

    .icon_line:nth-child(2) {
        margin: 6px 0;
    }

    .nav_burger {
        position: fixed;
        top: 60px;
        left: -101%;
        width: 50%;
        height: 100%;
        background-color: #aaa;
        z-index: 100;
        display: flex;
        transition: 0.3s;
        overflow: auto;
        border-right: 1px solid #e3e3e3;
    }

    .nav_burger.open {
        left: 0;
    }

    .nav_burger .nav {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: auto;
    }

    .nav_burger .nav > a {
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: #fff;
        border-bottom: 1px solid #fff;
    }

    .nav_burger .nav > a:hover {
        background-color: #e3e3e3;
    }

    .nav_burger_icon.active .icon_line:nth-child(2) {
        opacity: 0;
    }

    .nav_burger_icon.active .icon_line:nth-child(1) {
        transform: translateY(10px) rotate(45deg);
    }

    .nav_burger_icon.active .icon_line:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav {
        display: none;
    }

    /* INTRO */
    .slider_title {
        font-size: 60px;
    }

    /* ABOUT */

    /* TEAM */

    /* PORTFOLIO */
    .portfolio {
        padding-top: 50px;
    }

    .buttons.portfolio_buttons {
        width: 75%;
    }

    .buttons.portfolio_buttons > a {
        width: 24%;
    }

    .portfolio_works {
        flex-wrap: wrap;
    }

    .portfolio_works_col {
        width: 50%;
    }

    /* PRICES */
    .prices {
        padding: 50px 0;
    }

    /* VSTAVKA */
    .vstavka_inner {
        width: 100%;
    }

    /* BLOG */
    .blog {
        padding-top: 50px;
    }

    .blog_inner_item {
        width: 50%;
    }

    /* CLIENTS */
    .clients {
        padding: 50px 0;
    }

    /* CITE */
    .cite {
        padding: 50px 0;
    }

    /* MAP */
    .map_logo {
        left: 48%;
    }
}

@media (max-width: 768px) {
    /* HEADER */
    .slider_title {
        font-size: 48px;
    }

    .nav_burger {
        top: 60px;
        width: 70%;
    }

    /* INTRO */
    .button_container {
        width: 30%;
    }

    /* ABOUT */
    .about {
        padding: 50px 0;
    }

    .about_inner_content {
        padding: 30px 0;
    }

    .about_line {
        margin: 20px 0;
    }

    .about_text {
        margin-bottom: 30px;
    }

    .buttons {
        width: 50%;
    }

    .about_achieves_count {
        font-size: 25px;
    }

    /* SERVICES */
    .services {
        padding: 50px 0;
    }

    .services_item {
        width: 49%;
    }

    .services_item:nth-child(1),
    .services_item:nth-child(2) {
        margin-bottom: 15px;
    }

    /* TEAM */
    .team {
        padding: 50px 0;
    }

    .team_inner {
        /* width: 100%; */
        flex-wrap: wrap;
    }

    .team_item {
        width: 48%;
    }

    .team_item:nth-child(1),
    .team_item:nth-child(2) {
        margin-bottom: 15px;
    }

    .team_item:last-child {
        margin: 0 auto;
    }

    /* PORTFOLIO */
    .buttons.portfolio_buttons {
        width: 100%;
    }

    .buttons.portfolio_buttons > a {
        width: 24%;
    }

    .buttons.portfolio_buttons > a > button {
        font-size: 13px;
    }

    /* VSTAVKA */
    .vstavka_inner {
        display: block;
        text-align: center;
    }

    .vstavka_inner_text {
        margin: 20px 0;
    }

    .vstavka_inner > a > button {
        width: 30%;
    }

    /* CLIENTS */
    .clients_inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .clients_inner_item {
        width: 21%;
        margin: 15px;
    }

    /* CITE */
    .cite_inner {
        width: 85%;
    }

    /* MAP */
    .map_logo {
        left: 47%;
    }

    /* FOOTER */
    .footer_logo {
        display: block;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .footer_inner {
        display: block;
        text-align: center;
    }

    .footer_inner_left,
    .footer_inner_right {
        width: 100%;
    }

    .footer_inner_left {
        margin-bottom: 30px;
    }

    .footer_social_icons {
        justify-content: center;
    }
}

@media (max-width: 425px) {
    /* HEADER */
    .slider_title {
        font-size: 38px;
    }

    .social_icons {
        display: none;
    }

    .nav_burger {
        width: 100%;
    }

    /* INTRO */
    .intro_inner_content {
        margin: 0;
    }

    .slider {
        display: none;
    }

    .button_container {
        width: 40%;
    }

    /* ABOUT */
    .buttons {
        width: 75%;
    }

    .about_achieves_logo {
        width: 30px;
        height: 30px;
    }

    .about_achieves_title {
        font-size: 13px;
    }

    /* SERVICES */
    .services_item {
        width: 100%;
    }

    .services_item:nth-child(3) {
        margin-bottom: 15px;
    }

    /* TEAM */
    .team_inner {
        width: 100%;
    }

    .team_social_icons {
        display: block;
    }

    /* PORTFOLIO */
    .buttons.portfolio_buttons > a > button {
        font-size: 10px;
    }

    .portfolio_works_col {
        width: 100%;
    }

    /* VSTAVKA */
    .vstavka_inner > a > button {
        width: 50%;
    }

    /* BLOG */
    .blog_inner_item {
        width: 100%;
    }

    /* CLIENTS */
    .clients_inner {
        flex-wrap: wrap;
    }

    .clients_inner_item {
        width: 30%;
    }

    /* MAP */
    .map_logo {
        left: 46%;
    }

    /* FOOTER */
    .footer_right_input {
        width: 100%;
        margin-bottom: 20px;
    }

    .footer_inner_right {
        max-height: none;
    }
}
